PROJECT_ENV=experimance
# Log level for core service (DEBUG/INFO/WARNING/ERROR)
EXPERIMANCE_CORE_LOG_LEVEL=INFO
# Use mock depth processor (set to 1 to enable mock depth images)
USE_MOCK_DEPTH=0
# Optional: path to directory with mock depth images for `MockDepthProcessor` (if USE_MOCK_DEPTH enabled)
DEPTH_MOCK_PATH=media/images/mocks/depth
